body {
  background-color: white;
  font-family: 'Helvetica', Ariel, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.header-wrap {
  margin: 0 auto;
}
.header-wrap img {
  max-width: 200px;
}

#linkNav {
  font-family: 'Helvetica', Ariel, sans-serif;
  font-size: 14px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  /* white-space: nowrap; */
}
#smallNav {
  display: none;
}
p {
  font-size: 20px;
}

.active,
.active:hover {
  display: inline-block;
  color: rgb(168, 168, 168);
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.link {
  display: block;
  color: rgb(102, 102, 102);
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.link:hover {
  color: rgb(168, 168, 168);
  text-decoration: none;
}

.caret {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

#navbarDropdown {
  color: #a8a8a8
}

/* Responsive Breakpoints */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  
  body {
    padding: 20px;
  }

  #linkNav {
    font-size: 14px;
  }

  .link {
    display: block;
  }
  .header-wrap img {
    max-width: 200px;
  }
}

@media (max-width: 576px) { 
  body {
    padding: 15px;
  }

  #linkNav {
    display: none;
  }

  #smallNav {
    display: block;
    padding-top: 10%;
    text-align: center;
  }
  .vr {
    border-left: 1px solid rgb(175, 155, 155);
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  #links > div {
    display: inline-flex;
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }

  #links {
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    padding: 40px;
  }

  #linkNav {
    font-size: 14px;
  }
  .link {
    display: inline-block;
  }
  .header-wrap img {
    max-width: 350px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    padding: 80px;
  }
  .page-wrap {
    max-width: 800px;
    margin: 0 auto;
  }
  .header-wrap img {
    max-width: 430px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
