body {
  background-color: white;
  font-family: 'Helvetica', Ariel, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.header-wrap {
  max-width: 430px;
  margin: 0 auto;
}

#linkNav {
  font-family: 'Helvetica', Ariel, sans-serif;
  font-size: 14px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  white-space: nowrap;
}

p {
  font-size: 20px;
}

#active,
#active:hover {
  color: rgb(168, 168, 168);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

#link {
  color: rgb(102, 102, 102);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

#link:hover {
  color: rgb(168, 168, 168);
  text-decoration: none;
}

/* Responsive Breakpoints */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  body {
    padding: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    padding: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body {
    padding: 80px;
  }
  .page-wrap {
    max-width: 800px;
    margin: 0 auto;

  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}